In [1]:
a=[('name',1),(2,'apple')]
print(type(a))
b=dict(a)
print(b,type(b))

<class 'list'>
{'name': 1, 2: 'apple'} <class 'dict'>

In [7]:
a=[1,2,3]
b=['apple','orange','banana','lemon']
list(zip(a,b))

[(1, 'apple'), (2, 'orange'), (3, 'banana')]

In [19]:
list1=[]
print(list1,type(list1))
list1=()
print(list1,type(list1))
list1={}
print(list1,type(list1))
list1={''}
print(list1,type(list1))
list1=''
print(list1,type(list1))

[] <class 'list'>
() <class 'tuple'>
{} <class 'dict'>
{''} <class 'set'>
 <class 'str'>

In [21]:
a={'name':'Amit','school':'DAV'}
a.pop('age','Key not present')

'Key not present'

In [22]:
a={'name':'Amit','school':'DAV'}
print(a.values())

dict_values(['Amit', 'DAV'])

In [23]:
a={'name':'Amit','school':'DAV'}
print(a.keys())

dict_keys(['name', 'school'])

In [24]:
a={'name':'Amit','school':'DAV'}
print(a.items())

dict_items([('name', 'Amit'), ('school', 'DAV')])

In [25]:
a={'name':'Amit','school':'DAV'}
for i in a:
    print(i)

name
school

In [27]:
a={'name':'Amit','school':'DAV'}
for i in a.keys():
    print(i)

TypeError: 'builtin_function_or_method' object is not iterable

In [28]:
a={'name':'Amit','school':'DAV'}
for i in a.values():
    print(i)

Amit
DAV

In [29]:
a={'name':'Amit','school':'DAV'}
for i in a.items():
    print(i)

('name', 'Amit')
('school', 'DAV')

In [33]:
x=['name','age','salary']
print(x.sort(reverse=True))
x=dict.fromkeys(x,"new keys")
print(dict.fromkeys(x,"new keys"))
print(y)

None
{'salary': 'new keys', 'name': 'new keys', 'age': 'new keys'}
{'name': 'new keys', 'age': 'new keys', 'salary': 'new keys'}

In [35]:
a={'name':'Amit','school':[1,2,3]}
print(a)

{'name': 'Amit', 'school': [1, 2, 3]}

In [39]:
a={'name':'Amit','school':[1,2,3]}
print(a['name'])
print(a.get('name'))

Amit
Amit

In [40]:
a={'name':'Amit','school':[1,2,3]}
a.setdefault('sal',"new key")
print(a)

{'name': 'Amit', 'school': [1, 2, 3], 'sal': 'new key'}

In [43]:
a={'name':'Amit','school':[1,2,3]}
b={'new_name':'Ram'}
a.update(b)
print(a)

{'name': 'Amit', 'school': [1, 2, 3], 'new_name': 'Ram'}