In [5]:
#Nested List

a=[1,2,3,['Amit','Kumar'],'banaba',[1,2,3]]
a[3][0]

'Amit'

In [13]:
#insert => insert the digit at abn index and shift other numbers to right side

a=[1,2,3,4]
a.insert(1,[1,2])
print(a)

[1, [1, 2], 2, 3, 4]

In [12]:
#append works with any object but extend works only with iterable object

a=[12,3]
b=1
a.append(b)
print(a)

[12, 3, 1]

In [15]:
#pop removes the value based on index.By default , last value is removed.
#Pop returns the integer popped out. It is th only method which returns value.

a=[1,2,3,'Amit',5,6]
a.pop()
a.pop(2)

3

In [17]:
#pop removes the value based on value.Removes only first occurence.we need to pass one argument

a=[1,2,3,'Amit',5,6]
a.remove(5)

In [21]:
#count

a=['amit','amit','amit','apple']
a.count('amit')
a.find('amit')

AttributeError: 'list' object has no attribute 'find'

In [24]:
#index ...list does not have find

a=['amit','amit','amit','apple']
a.index('apple',2)

3

In [34]:
#sort #default ascending
a=[1,2,3]
a.sort()
print(a)

[1, 2, 3]

In [35]:
#sort-descending
a=[1,2,3]
a.sort(reverse=True)
print(a)

[3, 2, 1]

In [36]:
#clear
a=[1,2,3]
a.clear()
print(a)

[]

In [8]:
#shallow copy

a=[1,2,3,4]
b=a
print(a)
print(b)
a.append('AMit')
print(a)
print(b)

z=a.copy()
a.append('Apple')
print(a)
print(b)
print(z)

#Issue with shallow copy is that whenever there is nested list , it again gets manipulates as soon as parent list is changed
a.append(['a','b','c'])
z=a.copy()

print(a)
print(b)
print(z)
a[-1].append(100)
print(a)
print(b)
print(z)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 'AMit']
[1, 2, 3, 4, 'AMit']
[1, 2, 3, 4, 'AMit', 'Apple']
[1, 2, 3, 4, 'AMit', 'Apple']
[1, 2, 3, 4, 'AMit']
[1, 2, 3, 4, 'AMit', 'Apple', ['a', 'b', 'c']]
[1, 2, 3, 4, 'AMit', 'Apple', ['a', 'b', 'c']]
[1, 2, 3, 4, 'AMit', 'Apple', ['a', 'b', 'c']]
[1, 2, 3, 4, 'AMit', 'Apple', ['a', 'b', 'c', 100]]
[1, 2, 3, 4, 'AMit', 'Apple', ['a', 'b', 'c', 100]]
[1, 2, 3, 4, 'AMit', 'Apple', ['a', 'b', 'c', 100]]

In [13]:
#deep copy
from copy import deepcopy
a=[1,2,3,4,[100,200]]
b=deepcopy(a)
print(a)
print(b)
a[-1].append('AMit')
print(a)
print(b)

[1, 2, 3, 4, [100, 200]]
[1, 2, 3, 4, [100, 200]]
[1, 2, 3, 4, [100, 200, 'AMit']]
[1, 2, 3, 4, [100, 200]]

In [21]:
#list comprehension 

a=[10,20,30,40,50]
print(list(i for i in a[::2] if i>10))


#for multiple if-else
a=[10,20,30,40,50]
print(list(i if i>10 else i**i  for i in a[::]))

[30, 50]
[10000000000, 20, 30, 40, 50]

In [24]:
i=6
while i > 0:
    print('*'*i)
    i-=1

******
*****
****
***
**
*

In [37]:
# Find the OTP
message = "an otp 5454 is shared on mobile. "
a=message.split()
i=0
print(a)
while i< len(a):
    if a[i].isnumeric()==True:
        print("OTP is :- ",a[i])
        break
    else:
        pass
    i+=1

['an', 'otp', '5454', 'is', 'shared', 'on', 'mobile.']
OTP is :-  5454

In [38]:
# Display all the positive values and stop if any negative values comes up
listName = [10, 25, 47, -54 , 23 , -11, 70]
i=0
while i < len(listName): 
    if listName[i] < 0 : 
        print("Its Negative")
        break
        print(".............. ENDING.........")
    else : 
        print(f"Position : {i}, Value : {listName[i]}")
    i+=1

Position : 0, Value : 10
Position : 1, Value : 25
Position : 2, Value : 47
Its Negative